<h1>Stories</h1>

<ul>
  <% @stories.each do |story| %>
    <li>
      <%= image_tag (story.image.to_s + ".png") %>
      <%= link_to story.title, story_path(story) %>
    </li>
  <% end %>
</ul>
<hr>
<%= link_to "New Story", new_story_path %>
